<h2>Play NetMap</h2>

<% if @redirect_url %>
<p>
  We need you to log in before we can show you the page that you are trying to
  view.
</p>
<% end %>

<section id="signin-container">

<%= form_tag session_path, id: 'signin-form' do %>
  <div class="field">
    <%= label_tag :email, 'Email Address' %><br />
    <span class="value">
      <%= email_field_tag :email, @email, autofocus: true, required: true,
            placeholder: 'your@email.com' %>
    </span>
  </div>

  <div class="field">
    <%= label_tag :password %><br />
    <span class="value">
      <%= password_field_tag :password %>
    </span>
  </div>

  <div class="actions">
    <%= button_tag 'Play', name: 'login', value: 'requested',
          id: 'signin-play-button' %>
    <%= button_tag 'Reset Password', name: 'reset_password',
          id: 'signin-reset-password-button', value: 'requested',
          formaction: reset_password_session_path %>

    <% if @redirect_url %>
    <%= hidden_field_tag :redirect_url, @redirect_url %>
    <% end %>
  </div>
<% end %>

</section>

<section id="signin-join-container">
  <p>
    Don't have an account yet?
  </p>
  <p>
    <%= link_to 'Join', new_user_path, id: 'signin-join-button' %>
  </p>
</section>
