<%= form_for @player, html: { id: 'new-player' } do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: 'the mighty one' %>
  </div>
  <div class="actions">
    <%= f.button type: 'submit', name: nil, id: 'new-player-button' do %>
      Start Playing
    <% end %>
  </div>
<% end %>
