<% if current_user %>
<nav class="top-bar signed-in">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'NetMap', session_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#"><span></span></a>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li><%= link_to 'Map', map_tiles_path %></li>
      <li><%= link_to 'Guide', manual_path %></li>
    </ul>
    <ul class="right">
      <li><%= link_to 'Log Out', session_path, method: :delete %></li>
    </ul>
  </section>
</nav>
<% else %>
<nav class="top-bar not-signed-in">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'NetMap', session_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#"><span></span></a>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li><%= link_to 'Guide', manual_path %></li>
      <li><%= link_to 'Join', new_user_path %></li>
    </ul>
    <ul class="right">
      <li><%= link_to 'Play', new_session_path %></li>
    </ul>
  </section>
</nav>
<% end %>
