<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NetMap</title>

  <%= favicon_link_tag image_path('favicon.png') %>
  <%= stylesheet_link_tag 'application', media: 'all',
                          'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<% if current_user %>
<%= render 'layouts/top_nav' %>
<% end %>

<article id="contents">
<%= yield %>
</article>

</body>
</html>
